\#*
**/*.db
**/*.log
**/*.byebug_history
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
.vscode
config/database.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
Gemfile.lock
*/Gemfile.lock
pkg
public/assets
log
tmp
coverage/*
*/.sass-cache
.ruby-gemset
vendor/bundle
*/vendor/bundle
sandbox
*.gem