<% content_for :title, 'Sign in' %>

<% content_for :form_headers do %>
  <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">Sign in</h1>
  <p class="text-gray-500 dark:text-gray-400">Sign in to access our platform</p>
<% end %>

<%= render 'shared/flash_messages' %>

<%= render 'form' %>

<%= render 'authenticatable/shared/links' %>