<h2>Select an account</h2>

<ul>
<%- @accounts.each do |account| %>
  <li><%= link_to account.name, switch_account_path(account), method: :patch %></li>
<% end %>
</ul>

<%= link_to 'Create a new account', new_account_path %>